.tab ol {
border-bottom:1px solid #bfc1c3;

}

.tab ol li {
display: inline-block;
min-width: 100px;
background-color: #bfc1c3;
border:5px solid #fff;
padding: 5px 10px 0px 10px;

}

.tab ol li a{
font-size: 0.8em;
font-weight: bold;
color:#005ea5;
cursor: pointer;
}

.tab ol li a:hover{
color:#2e8aca;
text-decoration: underline;
}

.tab ol li.active  {
background-color: #fff;
border:1px solid #bfc1c3;
border-bottom-width: 0;
padding: 5px 10px 6px 10px;
margin: 0px 0px -5px 0px;

}

.tab ol li.active a  {
color: #000;
text-decoration: none;

}


.strapline {
font-family: "nta",Arial,sans-serif;
font-size: 27px;
line-height: 1.11111;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 5px;
color: #6f777b; }

.tagline {
font-family: "nta",Arial,sans-serif;
font-size: 16px;
line-height: 1.25;
font-weight: 400;
text-transform: none;
display: block;
margin: 1em 0 -1em 0;
padding: 0.5em 0 1em 0;}

.header {
margin-bottom: 1.5em;
width: 100%;
display: inline-block;
}

.topborder {
margin-left: 0.5em;
margin-right: 0.5em;
padding-top:0.5em;
margin-top: 1em;
border-top: 1px solid #bfc1c3;
}

.highlight {
color:#097F96;
fill:#097F96;
}

.noborder {
    border: none;
}

#global-breadcrumb {
    background-color: #fff;
    max-width: 1020px;
    margin: 0 auto;
    z-index: 50;
}

@media (max-width: 640px) {
    #global-breadcrumb {
        padding: 0 1em 0.75em;
    }
}

#global-breadcrumb ol {
    max-width: 960px;
    padding: 0.75em 0;
}

@media (max-width: 640px) {
    #global-breadcrumb ol {
        margin: 0;
    }
}

#global-breadcrumb ol li {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    background-image: url('../images/separator.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
}

@media (max-width: 640px) {
    #global-breadcrumb ol li {
        font-size: 14px;
        line-height: 1.14286;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #global-breadcrumb ol li {
        background-image: url('../images/separator-2x.png');
        background-size: 6px 11px;
    }
}

#global-breadcrumb ol li a {
    color: #0b0c0c;
}

#global-breadcrumb ol li strong {
    font-weight: normal;
}

#global-breadcrumb ol li:last-child {
    background-image: none;
    margin-right: 0;
}